<%- include('partials/header') %>
<div class="login-container">
    <h1>ScriptFlow Bot</h1>
    <p>Controle total, design elegante.</p>
    <a href="/auth" class="discord-button">
        <i class="fab fa-discord"></i> Entrar com Discord
    </a>
</div>
<%- include('partials/footer') %>